{% load static %}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    Panel główny
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Dostawy
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Rozchody
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Średnice
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Gatunki
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Zestawienia</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Za okres ...
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Obroty średnicy
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Obroty gatunku
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Przewidywania
                </a>
            </li>
        </ul>
    </div>
</nav>