{% extends 'base.html' %}

{% block content %}
    <h3>Lista gatunków stali</h3>

    <ul class="list-group">
        <li class="list-group-item">a</li>
        <li class="list-group-item">b</li>
        <li class="list-group-item">c</li>
        <li class="list-group-item">d</li>
        <li class="list-group-item">e</li>
        <li class="list-group-item">f</li>
        <li class="list-group-item">g</li>
        <li class="list-group-item">h</li>
        <li class="list-group-item">i</li>
        <li class="list-group-item">j</li>
    </ul>

{% endblock %}
